body {
    background-image: url("hatter.jpg");
    background-size: cover;
  }

th{
    background-color: lightyellow;
    width: 1000px;
}

table{
    width: 1000px;
    margin-left: 400px;
}

#fej{
    width: 500px;
    background-color: rgba(255, 255, 0, 250);
    text-align: center;
}